body{
	font-family:"微软雅黑";
}
*{
	margin: 0;
	padding: 0;
}

/* ****** header start ****** */
#header{
	/*background-color:pink;*/
	width:1200px;
	height:72px;
	margin:42px auto 0;
	
}
#header img{/* logo */
	margin-left:50px;
	margin-right:33px;
	vertical-align: middle;
}
#header span.line{/* 绔栫嚎 */
	display:inline-block;
	height:68px;
	border:2px solid #cbcbcb;
	margin-right:22px;
	vertical-align: middle;
}
#header span.wel-login{/* 娆㈣繋鐧婚檰 */
	font-size:36px;
	color:#cbcbcb;
	vertical-align: middle;
}
/* ****** header end ****** */

/* ****** main start ****** */
#main{
	width:1200px;
	margin:42px auto 0;
	border:7px solid #f0f0f0;
	border-width:9px 7px;
}

#main form{
	/*background-color:pink;*/
	display:inline-block;
	width:385px;
	margin-left:110px;
	vertical-align: top;
}
#main form h1{/* 鐧诲綍 */
	font-size:26px;
	font-weight:bold;
	color:#333333;
	text-align:center;
	margin:87px 0 20px;
}
#main form div.err-msg{/* 鐧诲綍澶辫触鍚庣殑鎻愮ず娑堟伅 */
	font-size:16px;
	color:#ff0000;
	text-align:center;
	margin-bottom:9px;
}
#main form input{/* 鎵�湁Input杈撳叆妗�*/
	height:49px;
	width:381px;
	border:2px solid #ededed;
	font-size:16px;
	color:#999999;
	text-indent:46px;
	margin-bottom:32px;
}

#main form input[name='username']{/* 鐢ㄦ埛鍚嶈緭鍏ユ */
	background-image:url('../imgs/u_ico.jpg');
	background-repeat:no-repeat;
	background-position:14px 14px;
}
#main form input[name='password']{/* 瀵嗙爜杈撳叆妗�*/
	background-image:url('../imgs/p_ico.jpg');
	background-repeat:no-repeat;
	background-position:14px 14px;
}
#main form input[type='submit']{/* 鎻愪氦鎸夐挳 */
	height:52px;
	background-color:#ff0000;
	font-size:20px;
	color:#ffffff;
	text-indent:0px;
}
/* ****** main end ****** */


/* ****** footer start ****** */
#footer{
	/*background-color:pink;*/
	width: 1200px;
	margin:0 auto;
	margin-top:144px;
}

#footer p{
	text-align:center;
	line-height:34px;
	font-size:14px;
	color:#999999;
}
/* ****** footer end ****** */