<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Revisit</display-name>
  <welcome-file-list>
    <welcome-file>s</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>login.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>servlets.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RegistUser1</display-name>
    <servlet-name>RegistUser1</servlet-name>
    <servlet-class>servlets.RegistUser1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistUser1</servlet-name>
    <url-pattern>/RegistUser1</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>servlets.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LoginAfter</display-name>
    <servlet-name>LoginAfter</servlet-name>
    <servlet-class>servlets.LoginAfter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAfter</servlet-name>
    <url-pattern>/LoginAfter</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Entrance</display-name>
    <servlet-name>Entrance</servlet-name>
    <servlet-class>servlets.Entrance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entrance</servlet-name>
    <url-pattern>/Entrance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Xiaobai</display-name>
    <servlet-name>Xiaobai</servlet-name>
    <servlet-class>servlets.Xiaobai</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Xiaobai</servlet-name>
    <url-pattern>/Xiaobai</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Normal</display-name>
    <servlet-name>Normal</servlet-name>
    <servlet-class>servlets.Normal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Normal</servlet-name>
    <url-pattern>/Normal</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>God</display-name>
    <servlet-name>God</servlet-name>
    <servlet-class>servlets.God</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>God</servlet-name>
    <url-pattern>/God</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>servlets.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quiz</display-name>
    <servlet-name>Quiz</servlet-name>
    <servlet-class>servlets.Quiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quiz</servlet-name>
    <url-pattern>/Quiz</url-pattern>
  </servlet-mapping>
</web-app>